<app-sidenav #sidenav>
	@if (showMenu()) {
	<mat-toolbar color="primary">
		<mat-toolbar-row>
			<button mat-icon-button
					(click)="toggleSidenav()">
				<mat-icon>menu</mat-icon>
			</button>
			<span class="spacer">Cine</span>
		</mat-toolbar-row>
	</mat-toolbar>
	}

	@if (loading()) {
	<div class="loading">Cargando...</div>
	}

	@if (!loading() && !loadError()) {
	<mat-nav-list>
		<app-movie-list [movies]="movies()" />
		@if (page() < numPages())
		  {
		  <a
		  mat-list-item
		  (click)="getMovies($event)"
		  class="load-more">
			<mat-icon>keyboard_arrow_down</mat-icon>
			Cargar más
			</a>
			}
			@if (movies().length === 0) {
			<mat-list-item>
				¡Todavía no hay ninguna película! Añade la primera pulsando el icono "+".
			</mat-list-item>
			}
	</mat-nav-list>
	}

	@if (!loading() && loadError()) {
	<div class="loading">Ocurrió un error al cargar las películas.</div>
	}

	<button mat-fab
			class="btn-bottom-right"
			routerLink="/add-movie"
			[disabled]="loadError()">
		<mat-icon>add</mat-icon>
	</button>
</app-sidenav>